* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    grid-template-rows: auto 1fr auto;
}

header {
    height: 10rem;
    background-color: red;
}

footer {
    height: 10rem;
    background-color: red;
}

.cv-tiles {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    gap: 3rem;
    justify-content: center;
    align-content: center;
    margin: 5rem 0;
}

.cv-tile {
    height: 20rem;
    width: 20rem;
    border: solid red 2px;
    transition: all 0.25s ease-in-out;
}

.cv-tile:hover {
    background-color: red;
    cursor: pointer;
}