/* Basic */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

/* Web main style */

body {
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right top, #BD9479, #8E7765, #DDC1A7);
}

/* Tiles */

.cv-tiles {
    padding: 1rem;
    margin: 5rem;
    border: #FFFFFF solid 2px;
    border-radius: 4rem;
}

.cv-tiles__frame {
    background-color: rgba(228, 211, 196, 0.8);
    padding: 4rem 8rem;
    border-radius: 4rem;
}

.cv-tiles__header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 2rem;
    padding: 2vw 6vw;
    font-family: 'FiraSansRegular', sans-serif;
    font-size: 1.3vw;
    color: #433831;
}

.page-title {
    padding: 3rem 0;
    color: #433831;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.cv-tiles__contener {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    row-gap: 3vw;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.cv-tile {
    height: 28vw;
    width: 20vw;
    background-color: #FFFFFF;
    border-radius: 2rem;
    transition: all 0.25s ease-in-out;
}

.cv-tile:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

/* Media Query */

/* Phone */
@media only screen and (max-width: 780px) {
    .cv-tiles__contener {
        grid-template-columns: 35vw;
    }
    .cv-tile {
        height: 85vw;
        width: 65vw;
    }
    .cv-tiles__header {
        padding: 3.5vw 10vw;
        font-size: 2vw;
    }
}

/* Tablet */
@media only screen and (min-width: 781px) and (max-width: 1024px) {
    .cv-tiles__contener {
        grid-template-columns: repeat(2, 35vw);
    }
    .cv-tile {
        height: 42vw;
        width: 29vw;
    }
    .cv-tiles__header {
        padding: 2.5vw 10vw;
        font-size: 2vw;
    }
}