/* Basic */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --1: #BD9479;
    --2: #8E7765;
    --3: #DDC1A7;
    --4: #E4D3C4;
    --5: #433831;
    --6: #FFFFFF;
    --7: #F8F7F4;
}

/* Web main style */


body {
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right top, var(--1), var(--2), var(--3));
}

/* Tiles */

.cv-tiles {
    padding: 1rem;
    margin: 5rem 15rem;
    border: var(--6) solid 2px;
    border-radius: 4rem;
}

.cv-tiles__frame {
    background-color: var(--4);
    padding: 4rem 8rem;
    border-radius: 4rem;
}

.cv-tiles__header {
    display: flex;
    justify-content: space-between;
    background-color: var(--6);
    border-radius: 2rem;
    padding: 2rem 6rem;
    font-family: 'FiraSansRegular', sans-serif;
    font-size: 1.5rem;
    color: var(--5);
}

.page-title {
    padding: 3rem 0;
    color: var(--5);
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.cv-tiles__contener {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    gap: 2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.cv-tile {
    height: 35rem;
    width: 25rem;
    background-color: var(--6);
    border-radius: 2rem;
    transition: all 0.25s ease-in-out;
}

.cv-tile:hover {
    background-color: var(--6);
    cursor: pointer;
}