* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --1: #BD9479;
    --2: #8E7765;
    --3: #DDC1A7;
    --4: #E4D3C4;
    --5: #433831;
    --6: #FFFFFF;
    --7: #F8F7F4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}